<div class="row">
  <div class="col-md-12 form-group vignette3">
    <div class="row">
      <div class="col-md-12 form-group">
        <div class="row titref">
          <label></label>
        </div>
        <div class="row">
          <table class="table table-hover">
            <tr class="mydefault">
              <th>Date</th>
              <th>Nbre jours</th>
              <th>Ancien index</th>
              <th>Nouvel index</th>
              <th>Conso.</th>
              <th>Correction</th>
              <th>Anomalie</th>
              <th>Facture</th>
            </tr>
            <tr ng-repeat="releve in ficherelevesctrl.releves">
              <td>{{releve.date}}</td>
              <td>{{releve.nbreJours}}</td>
              <td>{{releve.ancienIdx}}</td>
              <td>{{releve.nvlIdx}}</td>
              <td>{{releve.conso}}</td>
              <td>{{releve.correction}}</td>
              <td>{{releve.anomalie}}</td>
              <td><a href ng-click="ficheFacture($index)">{{releve.facture}}</a></td>
            </tr>
           </table>
        </div>
      </div>
    </div>
  </div>
</div>
