<div class="row">
  <div class="col-md-6 form-group vignette2">
    <h4>Infos contractuelles</h4>
    <div class="contenu">
      <div class="row">
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>N° contrat</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.abn.reference}}</span>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Solde contrat</label>
          </div>
          <div class="row">
            <a href>{{fichesynthesectrl.abn.soldeAbn}}</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <div class="row titref">
            <label>Abonné</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.abn.nameAbonne}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <div class="row titref">
            <label>Payeur</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.abn.namePayeur}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Date début</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.abn.dateDebut}}</span>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Date fin</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.abn.dataFin}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Groupe de fact.</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.abn.groupeFact}}</span>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Offre type</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.abn.offreType}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Dernière fact.</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.abn.dateDerFact}}</span>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Prochain fact.</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.abn.dateProchFact}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Mode paie.</label>
          </div>
          <div class="row">
            <a href>{{fichesynthesectrl.abn.ModPaie}}</a>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Etape relance</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.abn.etapRelance}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <div class="row titref">
            <label>Liste des engagements</label>
          </div>
          <div class="row">
            <table class="table table-condensed">
              <tr class="success">
                  <th>Label</th>
                  <th>Valeur</th>
              </tr>
              <tr ng-repeat="eng in fichesynthesectrl.abn.listEng">
                  <td>{{eng.name}}</td>
                  <td>{{eng.valeur}}</td>
              </tr>
             </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 form-group vignette2 vig_tech">
    <h4>Infos techniques</h4>
    <div class="contenu">
      <div class="row">
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>N° branchement</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.pdl.reference}}</span>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Etat branch.</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.pdl.etat}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>N° compteur</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.pdl.compteur}}</span>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Etat compteur</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.pdl.etatCpt}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Tournée</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.pdl.tournee}}</span>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Ordre</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.pdl.ordre}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Difficulté rel.</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.pdl.diffReleve}}</span>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label>Prochain rel.</label>
          </div>
          <div class="row">
            <span>{{fichesynthesectrl.pdl.dateProchReleve}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label style="color:transparent">du n'importe quoi</label>
          </div>
          <div class="row">
            <span style="color:transparent">du n'importe quoi</span>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label></label>
          </div>
          <div class="row">
            <span></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label style="color:transparent">du n'importe quoi</label>
          </div>
          <div class="row">
            <span style="color:transparent">du n'importe quoi</span>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label></label>
          </div>
          <div class="row">
            <span></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label style="color:transparent">du n'importe quoi</label>
          </div>
          <div class="row">
            <span style="color:transparent">du n'importe quoi</span>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="row titref">
            <label></label>
          </div>
          <div class="row">
            <span></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <div class="row titref">
            <label>Sectorisation</label>
          </div>
          <div class="row">
            <table class="table table-condensed">
              <tr class="success">
                  <th>Type secteur</th>
                  <th>Secteur</th>
              </tr>
              <tr ng-repeat="sect in fichesynthesectrl.pdl.listSecteur">
                  <td>{{sect.type}}</td>
                  <td>{{sect.valeur}}</td>
              </tr>
             </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
