<div class="sm-st clearfix st-gray vignette">
  <a href="/ficheclient">
      <div class="row">
        <strong>{{accueilctrl.client.reference}}</strong>
      </div>
      <div class="row">
        <strong>{{accueilctrl.client.name}}</strong>
      </div>
      <div class="row">
        <strong>{{accueilctrl.client.adress}}</strong>
      </div>
  </a>
</div>
<div class="panel-body table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>PDL</th>
        <th>Adresse</th>
        <th>Propriétaire</th>
        <th>Abonné</th>
        <th>Payeur</th>
        <th>Autres</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="role in accueilctrl.listRoleClient">
          <td><a href ng-click="accueilctrl.ficheSynthese($index)">{{role.refPdl}}</a></td>
          <td>{{role.adressPdl}}</td>
          <td><center ng-hide="role.prop=='-1'"><span ng-class="{'label label-success':role.prop=='1', 'label label-danger':role.prop=='0'}">X</span></center></td>
          <td><center ng-hide="role.abonne=='-1'"><span ng-class="{'label label-success':role.abonne=='1', 'label label-danger':role.abonne=='0'}">X</span></center></td>
          <td><center ng-hide="role.payeur=='-1'"><span ng-class="{'label label-success':role.payeur=='1', 'label label-danger':role.payeur=='0'}">X</span></center></td>
          <td><center ng-hide="role.autres=='-1'"><span ng-class="{'label label-success':role.autres=='1', 'label label-danger':role.autres=='0'}">X</span></center></td>
      </tr>
    </tbody>
  </table>
</div>
