<div class="row" style="margin-bottom:5px;">
  <div class="col-md-3">
    <a href="/impayees">
      <div class="sm-st clearfix">
          <span class="sm-st-icon st-blue"><i class="fa fa-dollar"></i></span>
          <div class="sm-st-info">
              <span>{{topresumebarctrl.impayeesCliCount}}</span>
              Fatures impayées
          </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="/notifications">
      <div class="sm-st clearfix">
          <span class="sm-st-icon st-violet"><i class="fa fa-envelope-o"></i></span>
          <div class="sm-st-info">
              <span>{{topresumebarctrl.notifCliCount}}</span>
              Notifications
          </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="/reclamationencours">
      <div class="sm-st clearfix">
          <span class="sm-st-icon st-green"><i class="fa fa-check-square-o"></i></span>
          <div class="sm-st-info">
              <span>{{topresumebarctrl.reclamCliEnCoursCount}}</span>
              Réclamations en cours
          </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="/reclamationannul">
      <div class="sm-st clearfix">
          <span class="sm-st-icon st-red"><i class="fa fa-minus-circle"></i></span>
          <div class="sm-st-info">
              <span>{{topresumebarctrl.reclamCliAnnulCount}}</span>
              Réclamations non accepter
          </div>
      </div>
    </a>
  </div>
</div>
